@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document ========================================================================== */
/** * 1. Correct the line height in all browsers. * 2. Prevent adjustments of font size after orientation changes in iOS. */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections ========================================================================== */
/** * Remove the margin in all browsers. */
body {
  margin: 0; }

/** * Render the `main` element consistently in IE. */
main {
  display: block; }

/** * Correct the font size and margin on `h1` elements within `section` and * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content ========================================================================== */
/** * 1. Add the correct box sizing in Firefox. * 2. Show the overflow in Edge and IE. */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/** * 1. Correct the inheritance and scaling of font size in all browsers. * 2. Correct the odd `em` font sizing in all browsers. */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics ========================================================================== */
/** * Remove the gray background on active links in IE 10. */
a {
  background-color: transparent; }

/** * 1. Remove the bottom border in Chrome 57- * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/** * Add the correct font weight in Chrome, Edge, and Safari. */
b, strong {
  font-weight: bolder; }

/** * 1. Correct the inheritance and scaling of font size in all browsers. * 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/** * Add the correct font size in all browsers. */
small {
  font-size: 80%; }

/** * Prevent `sub` and `sup` elements from affecting the line height in * all browsers. */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content ========================================================================== */
/** * Remove the border on images inside links in IE 10. */
img {
  border-style: none; }

/* Forms ========================================================================== */
/** * 1. Change the font styles in all browsers. * 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/** * Show the overflow in IE. * 1. Show the overflow in Edge. */
button, input {
  /* 1 */
  overflow: visible; }

/** * Remove the inheritance of text transform in Edge, Firefox, and IE. * 1. Remove the inheritance of text transform in Firefox. */
button, select {
  /* 1 */
  text-transform: none; }

/** * Correct the inability to style clickable types in iOS and Safari. */
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

/** * Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/** * Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/** * Correct the padding in Firefox. */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/** * 1. Correct the text wrapping in Edge and IE. * 2. Correct the color inheritance from `fieldset` elements in IE. * 3. Remove the padding so developers are not caught out when they zero out * `fieldset` elements in all browsers. */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/** * Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  vertical-align: baseline; }

/** * Remove the default vertical scrollbar in IE 10+. */
textarea {
  overflow: auto; }

/** * 1. Add the correct box sizing in IE 10. * 2. Remove the padding in IE 10. */
[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/** * Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/** * 1. Correct the odd appearance in Chrome and Safari. * 2. Correct the outline style in Safari. */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/** * Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/** * 1. Correct the inability to style clickable types in iOS and Safari. * 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive ========================================================================== */
/* * Add the correct display in Edge, IE 10+, and Firefox. */
details {
  display: block; }

/* * Add the correct display in all browsers. */
summary {
  display: list-item; }

/* Misc ========================================================================== */
/** * Add the correct display in IE 10+. */
template {
  display: none; }

/** * Add the correct display in IE 10. */
[hidden] {
  display: none; }

@font-face {
  font-family: 'futuradc';
  src: url("fonts/FuturaDemiC.eot");
  src: local("☺"), url("fonts/FuturaDemiC.woff") format("woff"), url("fonts/FuturaDemiC.ttf") format("truetype"), url("fonts/FuturaDemiC.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'futurabc';
  src: url("fonts/FuturaBookC.eot");
  src: local("☺"), url("fonts/FuturaBookC.woff") format("woff"), url("fonts/FuturaBookC.ttf") format("truetype"), url("fonts/FuturaBookC.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'leosler';
  src: url("fonts/LeOsler.eot");
  src: local("☺"), url("fonts/LeOsler.woff") format("woff"), url("fonts/LeOsler.ttf") format("truetype"), url("fonts/LeOsler.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BrushType';
  src: url("fonts/BrushType-SemiBold.woff2") format("woff2"), url("fonts/BrushType-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Rounded Mplus 1c';
  src: url("fonts/RoundedMplus1c-Bold.woff2") format("woff2"), url("fonts/RoundedMplus1c-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Dela Gothic One';
  src: url("fonts/DelaGothicOne-Regular.woff2") format("woff2"), url("fonts/DelaGothicOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Jost';
  src: url("fonts/Jost-Bold.woff2") format("woff2"), url("fonts/Jost-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'YS Text';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url(https://yastatic.net/s3/home/fonts/ys/1/text-medium.woff2) format("woff2"), url(https://yastatic.net/s3/home/fonts/ys/1/text-medium.woff) format("woff"); }

:root {
  --con-size: 100%;
  --container: 20px;
  --part-dist: 30px;
  --main-color: #5e5870;
  --white: #fefff9;
  --light-blue: #fefff9;
  --light-orange: #fffaee;
  --orange: #ffedd5;
  --pink: #fdafab;
  --black: #434242; }

@media (min-width: 768px) {
  :root {
    --con-size: 760px;
    --container: calc((100% - var(--con-size)) / 2);
    --part-dist: 30px; } }

@media (min-width: 1024px) {
  :root {
    --con-size: 900px; } }

@media (min-width: 1240px) {
  :root {
    --con-size: 1050px;
    --part-dist: 40px; } }

@media (min-width: 1440px) {
  :root {
    --con-size: 1250px;
    --part-dist: 60px; } }

@media (min-width: 1820px) {
  :root {
    --con-size: 1600px; } }

.title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: 'leosler';
  font-weight: normal;
  font-style: normal;
  color: #fff;
  font-size: 4.3rem; }
  .title--brush {
    font-family: 'BrushType';
    font-size: 4.5rem; }
  .title--raleway {
    font-family: 'Raleway';
    font-size: 3rem; }
  .title--plusm {
    font-family: 'Rounded Mplus 1c';
    font-size: 3rem; }
  .title--jost {
    font-family: 'Jost';
    font-size: 3.1rem; }
  .title--dela {
    font-family: 'Dela Gothic One';
    font-size: 2.5rem; }

@media (max-width: 768px) {
  .title {
    font-size: 3.5rem; } }

.subtitle {
  font-family: 'futuradc';
  margin: 0;
  margin-bottom: var(--part-dist);
  color: var(--main-color);
  font-size: 3.5rem; }
  .subtitle--unpack {
    margin: 0;
    font-size: 2rem;
    line-height: 0.9; }
  .subtitle--bday {
    margin: 0;
    text-align: right;
    font-size: 3.2rem; }
  .subtitle--footer {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    text-align: center; }
  .subtitle--first {
    margin-top: var(--part-dist);
    margin-bottom: calc(var(--part-dist) / 2);
    text-align: center;
    color: #fff; }

@media (max-width: 768px) {
  .subtitle {
    font-size: 2.5rem; }
    .subtitle--unpack {
      position: relative;
      margin-bottom: 30px; }
    .subtitle--open {
      text-align: center; } }

@media (max-width: 768px) {
  .subtitle--footer {
    font-size: 1.2rem; } }

@media (min-width: 1024px) {
  .subtitle--unpack {
    position: absolute;
    top: 0px;
    left: var(--container);
    z-index: 5;
    font-size: 3rem; }
  .subtitle--nine {
    margin: 0;
    font-size: 4rem; } }

@media (min-width: 768px) {
  .subtitle--nine {
    padding-top: var(--part-dist);
    padding-bottom: var(--part-dist);
    padding-left: var(--container);
    padding-right: var(--container); } }

@media (min-width: 1240px) {
  .subtitle--unpack {
    font-size: 7.8rem; }
  .subtitle--loyal {
    font-size: 6.6rem;
    line-height: 5rem; }
  .subtitle--nine {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 5rem; } }

.btn-con {
  margin-top: var(--part-dist); }

.btn {
  display: block;
  width: 100%;
  max-width: 310px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  border: none;
  background-image: -o-linear-gradient(135deg, #ea537c 15%, #f49b0f 70%, #ea537c 100%);
  background-image: linear-gradient(-45deg, #ea537c 15%, #f49b0f 70%, #ea537c 100%);
  background-size: 200% 100%;
  background-position: center left;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn:hover {
    background-position: center right;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05); }
  .btn--room {
    margin-top: var(--part-dist); }
  .btn--unpack {
    margin-top: 40px; }
  .btn--bday {
    margin-top: calc(2 * var(--part-dist)); }
  .btn--new {
    display: inline-block;
    margin: 0; }

@media (max-width: 768px) {
  .btn--new {
    margin-top: 20px; } }

@media (min-width: 768px) {
  .btn--new {
    margin-left: 20px; } }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-top: var(--part-dist);
  padding-bottom: var(--part-dist);
  padding-left: var(--container);
  padding-right: var(--container);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f8b72f;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
  .header__left {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: calc(100% - (50% + 80px));
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .header__center {
    display: block;
    width: 130px;
    height: 100%; }
  .header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: calc(100% - (50% + 80px));
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .header__right .main-nav {
      padding-right: 10px; }

@media (max-width: 1024px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
    .header__right {
      max-width: 100%; } }

@media (min-width: 1240px) {
  .header__left {
    padding-right: 10px; }
  .header__right {
    padding-left: 10px; } }

@media (min-width: 1440px) {
  .header__right .main-nav {
    padding-right: 20px; } }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none; }
  .main-nav__link {
    color: var(--white);
    font-size: 1rem;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-bottom: 1px solid transparent; }
    .main-nav__link:hover {
      border-bottom-color: var(--white); }

@media (max-width: 1024px) {
  .main-nav {
    display: none; } }

@media (min-width: 1240px) {
  .main-nav__link {
    font-size: 1.1rem; } }

@media (min-width: 1440px) {
  .main-nav__link {
    font-size: 1.3rem; } }

.main-soc__link + .main-soc__link {
  margin-left: 5px; }

.main-soc__link:hover .main-soc__icon {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

.main-soc__icon {
  width: 20px;
  height: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

@media (max-width: 1024px) {
  .main-soc {
    width: 100%;
    margin-top: 20px; }
    .main-soc__icon {
      width: 30px;
      height: 30px; } }

@media (min-width: 1240px) {
  .main-soc__link + .main-soc__link {
    margin-left: 20px; }
  .main-soc__icon {
    width: 30px;
    height: 30px; } }

.bg-first {
  background-color: #f8b72f;
  background-image: url("../images/first-bg.jpg");
  background-size: cover;
  background-position: center center; }

.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 180px;
  padding-bottom: 20px; }
  .first__text {
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .first__img {
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .first__descr {
    color: var(--white); }

@media (max-width: 768px) {
  .first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
    .first__text {
      padding: 0 20px;
      width: 100%; }
    .first__img {
      width: 100%; } }

@media (min-width: 768px) {
  .first__text {
    margin-top: 40px;
    padding-left: var(--container); } }

@media (min-width: 1024px) {
  .first {
    padding-top: 120px; }
    .first__text {
      margin-top: 50px; }
    .first__descr {
      font-size: 1.3rem; }
    .first__img {
      width: 45%; } }

@media (min-width: 1200px) {
  .first__text {
    margin-top: 60px; }
  .first__img {
    width: 50%; } }

.wehave-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .wehave-list__one {
    color: var(--white);
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.2;
    background-position: left top;
    background-repeat: no-repeat; }
    .wehave-list__one + .wehave-list__one {
      margin-top: 10px; }
    .wehave-list__one--star-blue {
      background-image: url("../images/star-blue.png"); }
    .wehave-list__one--star-lightblue {
      background-image: url("../images/star-lightblue.png"); }
    .wehave-list__one--star-lightpink {
      background-image: url("../images/star-pink.png"); }

@media (max-width: 1024px) {
  .wehave-list__one {
    padding-left: 40px;
    background-size: 1.2rem auto; } }

@media (min-width: 1024px) {
  .wehave-list__one {
    padding-left: 50px;
    background-size: auto 1.3rem; } }

.second {
  position: relative;
  padding-top: var(--part-dist);
  padding-bottom: var(--part-dist);
  padding-left: var(--container);
  padding-right: var(--container);
  background-color: var(--lightblue); }

.prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media (min-width: 1024px) {
  .prices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .prices__hours {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }

.hours-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  margin-bottom: 20px;
  color: var(--main-color);
  font-size: 1.8rem;
  font-weight: bold; }
  .hours-price__icon {
    max-width: 70px;
    margin-right: 10px; }
  .hours-price--marked {
    font-family: 'futuradc'; }

@media (max-width: 1024px) {
  .hours-price {
    font-size: 1.8rem; }
    .hours-price__icon {
      max-width: 40px;
      margin-right: 20px; } }

.price-tarif {
  width: 100%;
  padding: 50px 0px 30px 30px;
  border-radius: 20px 60px 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff; }
  .price-tarif__gift {
    width: 50px;
    margin-right: 10px; }
  .price-tarif--first {
    background: -o-linear-gradient(120deg, #fede79, #f39513);
    background: linear-gradient(-30deg, #fede79, #f39513); }
  .price-tarif--second {
    background: -o-linear-gradient(120deg, #fccc89, #ef7e4e);
    background: linear-gradient(-30deg, #fccc89, #ef7e4e); }
  .price-tarif--third {
    background: -o-linear-gradient(120deg, #f9b34c, #eb662c);
    background: linear-gradient(-30deg, #f9b34c, #eb662c); }
  .price-tarif--pink {
    background: -o-linear-gradient(120deg, #f4ada9, #f9d3d0);
    background: linear-gradient(-30deg, #f4ada9, #f9d3d0); }
  .price-tarif__price {
    position: relative;
    margin: 0;
    font-size: 2rem; }
    .price-tarif__price::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 50%;
      left: 0;
      background-color: #fff; }
  .price-tarif--marked {
    font-family: 'futuradc'; }
  .price-tarif__info {
    position: relative;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0; }
    .price-tarif__info + .price-tarif__info {
      margin-top: 70px; }
      .price-tarif__info + .price-tarif__info::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        top: -40px;
        left: 70px;
        background-image: url("../images/plus.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat; }
    .price-tarif__info--gift {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 1; }

@media (max-width: 1024px) {
  .price-tarif br {
    display: none; }
  .price-tarif + .price-tarif {
    margin-top: 30px; }
  .price-tarif__price {
    margin-bottom: 20px; }
    .price-tarif__price::after {
      bottom: -8px; } }

@media (min-width: 1024px) {
  .price-tarif {
    max-width: 280px;
    max-width: 20%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    border-radius: 20px 70px 20px 20px; }
    .price-tarif + .price-tarif {
      margin-left: 25px; }
    .price-tarif__price {
      margin-bottom: 40px; }
      .price-tarif__price::after {
        bottom: -18px; }
    .price-tarif__info:not(.price-tarif__info--gift) {
      padding-right: 10px;
      font-size: 1.4rem; } }

.third {
  position: relative;
  margin-top: var(--part-dist);
  margin-bottom: var(--part-dist);
  padding-top: var(--part-dist);
  padding-bottom: var(--part-dist);
  padding-left: var(--container);
  padding-right: var(--container);
  background-image: url("../images/second-bg.png");
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat; }

@media (max-width: 1024px) {
  .third {
    background-size: auto 100%; } }

.room {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .room__preview {
    position: relative;
    z-index: 5;
    width: 50%;
    max-width: 460px;
    max-height: 280px;
    -o-object-fit: cover;
       object-fit: cover; }
  .room__content {
    width: 50%;
    margin: 10px 0;
    border: 10px solid transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-color: #fede7b; }
  .room__info {
    position: relative; }
    .room__info-icon {
      position: absolute;
      top: 50%;
      left: -35px;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      width: 25px;
      height: 25px;
      -o-object-fit: contain;
         object-fit: contain; }
  .room__city, .room__name, .room__info {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.1; }
  .room__name {
    text-transform: uppercase;
    position: relative;
    font-family: 'futuradc'; }
    .room__name::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -70px;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      z-index: 1;
      width: 60px;
      height: 5px;
      background-color: #fede7b; }
  .room + .room {
    margin-top: 25px; }

@media (max-width: 1024px) {
  .room {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
    .room__preview {
      width: 100%;
      max-width: none;
      border-top: none; }
    .room__content {
      width: 90%;
      margin: 0 auto;
      border-top: none;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 50px;
      padding-right: 0px; }
    .room__name::before {
      width: 40px;
      left: -50px; } }

@media (min-width: 1024px) {
  .room__content {
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-left: none; } }

.fourth {
  position: relative;
  padding-top: var(--part-dist);
  padding-bottom: var(--part-dist);
  padding-left: var(--container);
  padding-right: var(--container);
  margin-top: calc(60px + var(--part-dist));
  margin-bottom: calc(60px + var(--part-dist));
  background-color: #f8b72f; }
  .fourth::before, .fourth::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    max-width: 100%; }
  .fourth::before {
    top: -70px;
    border-bottom: 70px solid #f8b72f;
    border-left: 98vw solid transparent; }
  .fourth::after {
    bottom: -70px;
    border-top: 70px solid #f8b72f;
    border-right: 98vw solid transparent; }

@media (max-width: 1024px) {
  .fourth {
    margin-top: calc(20px + var(--part-dist));
    margin-bottom: calc(20px + var(--part-dist)); }
    .fourth::before {
      top: -30px;
      border-bottom-width: 30px; }
    .fourth::after {
      bottom: -30px;
      border-top-width: 30px; } }

@media (max-width: 1200px) {
  .fourth::before {
    top: -50px;
    border-bottom-width: 50px; }
  .fourth::after {
    bottom: -50px;
    border-top-width: 50px; } }

.feedbacks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px; }

.yandex {
  font-family: 'YS Text', 'Helvetica Neue', Arial, sans-serif;
  color: #000; }
  .yandex__ya {
    color: #FC3F1D; }

.feedback {
  position: relative;
  width: 30%;
  max-width: 660px;
  padding: 15px 30px;
  border-radius: 55px;
  background-color: #fff;
  line-height: 1; }
  .feedback__name {
    margin: 0;
    font-weight: bold;
    line-height: 1.5; }
  .feedback__date {
    margin: 0;
    color: #a4a6a5;
    line-height: 1.5; }
  .feedback__text {
    margin: 0; }
  .feedback__rate {
    height: 1rem;
    margin-left: 10px; }
  .feedback__map {
    width: 100%;
    font-family: 'futuradc';
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: bold;
    line-height: 1.2; }
    .feedback__map-icon {
      display: inline-block;
      height: 40px;
      margin-right: 10px;
      float: left; }
  .feedback::after {
    content: "";
    position: absolute;
    top: -1%;
    left: -5%;
    width: 100%;
    height: 102%;
    border-radius: 55px;
    border: 2px solid #fff; }

@media (max-width: 768px) {
  .feedback {
    width: 100%; }
    .feedback__map {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      font-size: 1.6rem; }
      .feedback__map-icon {
        height: 1.6rem;
        margin-right: 0;
        float: none; }
    .feedback + .feedback {
      margin-top: 20px; }
    .feedback::after {
      left: -2%; } }

@media (min-width: 1024px) {
  .feedback--left {
    margin-left: 20%; }
  .feedback--right {
    margin-right: 20%; }
  .feedback--center {
    margin: 0 33%; }
  .feedback__map {
    width: 38%; } }

.fivth {
  padding-top: var(--part-dist);
  padding-bottom: var(--part-dist); }

.unpack {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .unpack__information {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: var(--container);
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .unpack__img {
    width: 50%;
    max-height: 510px;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover; }
    .unpack__img--loyal {
      -o-object-position: 0 33%;
         object-position: 0 33%; }
  .unpack__text {
    margin: 0;
    font-size: 1.2rem; }
    .unpack__text + .unpack__text {
      margin-top: 20px; }

@media (max-width: 768px) {
  .unpack {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
    .unpack__information {
      width: 100%;
      margin-bottom: 30px; }
    .unpack__img {
      width: 100%; } }

@media (min-width: 768px) {
  .unpack__text {
    padding-right: 20px; } }

.sixth {
  margin-top: var(--part-dist);
  padding-top: var(--part-dist);
  padding-bottom: var(--part-dist);
  padding-left: var(--container);
  padding-right: var(--container);
  background-color: #ffe1df; }

.bday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .bday__photos, .bday__info {
    width: 50%; }
  .bday__info {
    width: 50%; }
  .bday__text {
    margin-top: 1.8rem;
    margin-bottom: 0;
    text-align: right;
    font-size: 1.8rem; }
  .bday__preview {
    width: 100%; }

@media (max-width: 768px) {
  .bday {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
    .bday__text {
      font-size: 1.2rem; }
    .bday__photos, .bday__info {
      width: 100%; }
    .bday__info {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      margin-bottom: 20px; } }

.seventh {
  padding-top: var(--part-dist);
  padding-bottom: var(--part-dist);
  padding-left: var(--container);
  padding-right: var(--container); }

.open__process {
  max-width: 340px;
  margin: 0 auto;
  padding: 2px;
  border-radius: 20px;
  border: 2px solid #b6e3e9; }

.open__load {
  display: inline-block;
  width: 60%;
  padding: 2px 30px;
  border-radius: 20px;
  background-color: var(--pink);
  color: #fff;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1;
  text-align: center; }

.open__text {
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center; }

.open__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
  margin-top: var(--part-dist); }

.open__new-rules {
  margin-top: var(--part-dist);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold; }

@media (max-width: 768px) {
  .open__new {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 30px; } }

.open-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: unset; }
  .open-new__city {
    position: relative;
    margin: 0;
    margin-bottom: 25px;
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 1.2rem; }
    .open-new__city::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 1px;
      width: 60px;
      height: 2px;
      background-color: #fff; }
  .open-new__name {
    margin: 0;
    margin-bottom: 1rem;
    font-family: 'futuradc';
    font-size: 2rem;
    font-weight: bold; }
  .open-new__address {
    margin: 0;
    margin-bottom: auto;
    font-size: 1.3rem; }
  .open-new__when {
    margin: 0;
    margin-top: 3rem;
    font-size: 1.3rem;
    font-weight: bold; }

@media (min-width: 768px) {
  .open-new {
    width: 280px; } }

.coop {
  padding-top: var(--part-dist);
  padding-bottom: var(--part-dist);
  padding-left: var(--container);
  padding-right: var(--container);
  background-image: url("../images/coop-bg.jpg");
  background-repeat: repeat;
  background-size: inital;
  background-position: top left; }
  .coop__schema {
    width: 100%;
    height: auto; }

.nine {
  position: relative;
  margin-top: calc(var(--part-dist) + 40px);
  padding: 20px 20px 0;
  padding-top: var(--part-dist);
  padding-bottom: var(--part-dist);
  padding-left: var(--container);
  padding-right: var(--container);
  background-color: var(--light-orange); }
  .nine::before {
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    border-top: 50px solid transparent;
    border-right: 98vw solid var(--light-orange); }

@media (min-width: 768px) {
  .nine {
    padding: 0; } }

.variants {
  padding-top: var(--part-dist);
  padding-bottom: var(--part-dist);
  padding-left: var(--container);
  padding-right: var(--container);
  overflow: hidden; }

@media (min-width: 768px) {
  .variants {
    padding-right: 50px; } }

@media (min-width: 1024px) {
  .variants {
    padding-right: 300px; } }

.variant {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 20px;
  color: var(--black); }
  .variant::before {
    content: "";
    position: absolute;
    top: 0.7rem;
    left: calc(-100% + 10px);
    width: 100%;
    height: 4px;
    background-color: #fdaa32; }
  .variant__line {
    margin: 0 10px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-bottom: 2px dashed grey; }
  .variant + .variant {
    margin-top: 20px; }
  .variant__text {
    font-size: 1.4rem;
    font-weight: bold; }
  .variant__btn {
    margin: 0;
    margin-top: 10px;
    padding: 5px 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: bold;
    font-size: 1.5rem; }

@media (min-width: 768px) {
  .variant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 100px; }
    .variant::before {
      left: calc(-100% + 80px); }
    .variant__line {
      margin: 0 25px; }
    .variant + .variant {
      margin-top: 50px; }
    .variant__text {
      font-size: 1.7rem; }
    .variant__btn {
      margin-top: 0;
      font-size: 1.8rem; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: var(--part-dist);
  padding-bottom: var(--part-dist);
  padding-left: var(--container);
  padding-right: var(--container);
  gap: 30px;
  background-color: var(--light-orange); }

@media (max-width: 768px) {
  .footer {
    padding-top: 40px; } }

@media (min-width: 768px) {
  .footer__col {
    width: 30%; } }

@media (min-width: 1024px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row; } }

.footer-soc {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  list-style: none; }
  .footer-soc__item:hover .footer-soc__icon {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .footer-soc__icon {
    width: 45px;
    height: 45px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

@media (max-width: 768px) {
  .footer-soc__icon {
    width: 30px;
    height: 30px; }
    .footer-soc__icon + .footer-soc__icon {
      margin-left: 10px; } }

.footer-shop {
  width: 100%;
  max-width: 400px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 35px 0;
  background-color: var(--white); }
  .footer-shop__icon {
    position: relative;
    z-index: 5;
    width: 100px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .footer-shop__title {
    position: relative;
    z-index: 5;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--main-color); }
  .footer-shop__link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10; }
  .footer-shop::before, .footer-shop::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 25px;
    border-color: var(--pink);
    border-width: 5px;
    border-left-style: solid;
    border-right-style: solid;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .footer-shop::before {
    top: 0;
    border-top-style: solid; }
  .footer-shop::after {
    bottom: 0;
    border-bottom-style: solid; }
  .footer-shop:hover .footer-shop__icon {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .footer-shop:hover::before {
    border-top-width: 100px; }
  .footer-shop:hover::after {
    border-bottom-width: 100px; }

@media (max-width: 768px) {
  .footer-shop {
    padding: 10px 0; }
    .footer-shop__icon {
      margin-right: 10px;
      max-width: 50px; }
    .footer-shop__title {
      font-size: 1.2rem; }
    .footer-shop::before, .footer-shop::after {
      border-width: 3px; } }

.footer-rules__link {
  display: block;
  text-align: center;
  font-size: 1.4rem;
  color: var(--main-color);
  font-weight: bold;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer; }
  .footer-rules__link:hover .footer-rules__icon {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.footer-rules__icon {
  display: block;
  margin: 1rem auto 0;
  width: 95px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

@media (max-width: 768px) {
  .footer-rules__icon {
    width: 50px; } }

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100; }
  .modal--open-contact {
    overflow: hidden; }
    .modal--open-contact .modal {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .modal--open-contact .modal--contact {
      display: block; }
  .modal--open-employ {
    overflow: hidden; }
    .modal--open-employ .modal {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .modal--open-employ .modal--employ {
      display: block; }
  .modal--open-rules {
    overflow: hidden; }
    .modal--open-rules .modal {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .modal--open-rules .modal--rules {
      display: block; }
  .modal__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .modal__content {
    display: none;
    position: relative;
    width: 600px;
    max-width: 80vw;
    max-height: 80vh;
    padding: 20px;
    background-color: var(--white);
    z-index: 5;
    border-radius: 20px;
    font-size: 1.5rem; }
    .modal__content a {
      text-decoration: none;
      color: #f8b72f;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .modal__content a:hover {
        text-decoration: underline; }
  .modal--rules {
    overflow-y: scroll; }
    .modal--rules p {
      font-weight: bold; }

body {
  background-color: var(--white);
  font-family: 'futurabc', sans-serif; }
  body * {
    outline-offset: 10px;
    outline-width: 2px;
    outline-color: var(--pink); }
