.coop{
	@include con;
	background-image: url('../images/coop-bg.jpg');
	background-repeat: repeat;
	background-size: inital;
	background-position: top left;
	&__schema{
		width: 100%;
		height: auto;
	}
}