.bg-first{
	background-color: #f8b72f;
	background-image: url('../images/first-bg.jpg');
	background-size: cover;
	background-position: center center;
}
.first{
	@include flex(flex-start, space-between);
	padding-top: 180px;
	padding-bottom: 20px;
	&__text{
		width: 50%;
		box-sizing: border-box;
	}
	&__img{
		width: 50%;
		box-sizing: border-box;
	}
	&__descr{
		color: var(--white);
	}
}
@media (max-width: 768px){
	.first{
		flex-flow: column;
		&__text{
			padding: 0 20px;
			width: 100%;
		}
		&__img{
			width: 100%;
		}
	}
}
@media (min-width: 768px){
	.first{
		// margin-top: 30px;
		&__text{
			margin-top: 40px;
			padding-left: var(--container);
		}
	}
}
@media (min-width: 1024px){
	.first{
		padding-top: 120px;
		&__text{
			margin-top: 50px;
		}
		&__descr{
			font-size: 1.3rem;
		}
		&__img{
			width: 45%;
		}


	}
}
@media (min-width: 1200px){
	.first{
		&__text{
			margin-top: 60px;
		}
		&__img{
			width: 50%;
		}		

	}
}

.wehave-list{
	margin: 0;
	padding: 0;
	list-style: none;
	&__one{
		color: var(--white);
		font-weight: bold;
		font-size: 1.3rem;
		line-height: 1.2;
		background-position: left top;
		background-repeat: no-repeat;
		& + &{
			margin-top: 10px;
		}
		&--star{
			&-blue{
				background-image: url("../images/star-blue.png");
			}
			&-lightblue{
				background-image: url("../images/star-lightblue.png");
			}
			&-lightpink{
				background-image: url("../images/star-pink.png");
			}
		}
	}
}
@media (max-width: 1024px){
	.wehave-list{
		&__one{
			padding-left: 40px;
			background-size: 1.2rem auto;
		}
	}
}
@media (min-width: 1024px){
	.wehave-list{
		&__one{
			padding-left: 50px;
			background-size: auto 1.3rem;
		}
	}
}
