.fivth{
	// margin-top: var(--part-dist);
	padding-top: var(--part-dist);
	padding-bottom: var(--part-dist);
}

@media (min-width: 1200px){
	.fivth{
		// padding-top: 150px;
	}	
}
.unpack{
	position: relative;
	@include flex(stretch, center)
	&__information{
		width: 50%;
		@include flex(flex-start, flex-end, nowrap, column);
		padding-left: var(--container);
		box-sizing: border-box;
	}
	&__img{
		width: 50%;
		max-height: 510px;
		object-position: center;
		object-fit: cover;
		&--loyal{
			object-position: 0 33%;
		}
	}
	&__text{
		margin: 0;
		font-size: 1.2rem;
		& + &{
			margin-top: 20px;
		}
	}
}
@media (max-width: 768px){
	.unpack{
		flex-flow: column;
		&__information{
			width: 100%;
			margin-bottom: 30px;
		}
		&__img{
			width: 100%;
		}

	}
}
@media (min-width: 768px){
	.unpack{
		&__text{
			padding-right: 20px;
		}
	}
}