@font-face {
    font-family: 'futuradc';
    src: url('fonts/FuturaDemiC.eot');
    src: local('☺'), url('fonts/FuturaDemiC.woff') format('woff'), url('fonts/FuturaDemiC.ttf') format('truetype'), url('fonts/FuturaDemiC.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futurabc';
    src: url('fonts/FuturaBookC.eot');
    src: local('☺'), url('fonts/FuturaBookC.woff') format('woff'), url('fonts/FuturaBookC.ttf') format('truetype'), url('fonts/FuturaBookC.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'leosler';
    src: url('fonts/LeOsler.eot');
    src: local('☺'), url('fonts/LeOsler.woff') format('woff'), url('fonts/LeOsler.ttf') format('truetype'), url('fonts/LeOsler.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BrushType';
    src: url('fonts/BrushType-SemiBold.woff2') format('woff2'),
        url('fonts/BrushType-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('fonts/RoundedMplus1c-Bold.woff2') format('woff2'),
        url('fonts/RoundedMplus1c-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Dela Gothic One';
    src: url('fonts/DelaGothicOne-Regular.woff2') format('woff2'),
        url('fonts/DelaGothicOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Jost';
    src: url('fonts/Jost-Bold.woff2') format('woff2'),
        url('fonts/Jost-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'YS Text';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    src: url(https://yastatic.net/s3/home/fonts/ys/1/text-medium.woff2) format('woff2'),url(https://yastatic.net/s3/home/fonts/ys/1/text-medium.woff) format('woff')
}