.footer{
	@include flex(center, space-between, nowrap, column);
	@include con;
	gap: 30px;
	background-color: var(--light-orange);
}
@media (max-width: 768px){
	.footer{
		padding-top: 40px;
	}
}
@media (min-width: 768px){
	.footer{
		&__col{
			width: 30%;
		}
	}
}
@media (min-width: 1024px){
	.footer{
		flex-flow: row;
	}
}
.footer-soc{
	margin: 0;
	padding: 0;
	@include flex(center, center);
	gap: 30px;
	list-style: none;
	&__item{
		&:hover{
			.footer-soc__icon{
				transform: scale(1.1);
			}
		}
	}
	&__icon{
		width: 45px;
		height: 45px;
		@include transition;
	}
}
@media(max-width: 768px){
	.footer-soc{
		&__icon{
			width: 30px;
			height: 30px;
			& + &{
				margin-left: 10px;
			}
		}
	}
}
.footer-shop{
	width: 100%;
	max-width: 400px;
	position: relative;
	@include flex(center, center);
	gap: 20px;
	padding: 35px 0;
	background-color: var(--white);
	&__icon{
		position: relative;
		z-index: 5;
		width: 100px;
		@include transition;
	}
	&__title{
		position: relative;
		z-index: 5;
		font-size: 1.4rem;
		font-weight: bold;
		text-decoration: none;
		color: var(--main-color);
	}
	&__link{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 10;
	}
	&::before,
	&::after{
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		height: 25px;
		border-color: var(--pink);
		border-width: 5px;
		border-left-style: solid;
		border-right-style: solid;
		box-sizing: border-box;
		@include transition;
	}
	&::before{
		top: 0;
		border-top-style: solid;
	}
	&::after{
		bottom: 0;
		border-bottom-style: solid;
	}
	&:hover{
		.footer-shop__icon{
			transform: scale(1.1);
		}
		&::before{
			border-top-width: 100px;
		}
		&::after{
			border-bottom-width: 100px;
		}
	}
	
}

@media (max-width: 768px){
	.footer-shop{
		padding: 10px 0;
		&__icon{
			margin-right: 10px;
			max-width: 50px;
		}
		&__title{
			font-size: 1.2rem;
		}
		&::before, &::after{
			border-width: 3px;
		}

	}
}
.footer-rules{
	&__link{
		display: block;
		text-align: center;
		font-size: 1.4rem;
		color: var(--main-color);
		font-weight: bold;
		text-decoration: none;
		background: none;
		border: none;
		cursor: pointer;
		&:hover{
			.footer-rules__icon{
				transform: scale(1.1);
			}
		}
	}
	&__icon{
		display: block;
		margin: 1rem auto 0;

		width: 95px;
		@include transition;
	}
}
@media (max-width: 768px){
	.footer-rules{
		&__icon{
			width: 50px;
		}
	}
}

