.fourth{
	position: relative;
	@include con;
	margin-top: calc(60px + var(--part-dist));
	margin-bottom: calc(60px + var(--part-dist));
	background-color: #f8b72f;
	&::before,
	&::after{
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		max-width: 100%;
	}
	&::before{
		top: -70px;
	    border-bottom: 70px solid #f8b72f;
	    border-left: 98vw solid transparent;
	}
	&::after{
		bottom: -70px;
	    border-top: 70px solid #f8b72f;
	    border-right: 98vw solid transparent;
	}
}
@media (max-width: 1024px){
	.fourth{
		margin-top: calc(20px + var(--part-dist));
		margin-bottom: calc(20px + var(--part-dist));
		&::before{
			top: -30px;
			border-bottom-width: 30px;
		}
		&::after{
			bottom: -30px;
			border-top-width: 30px;
		}
	}
}
@media (max-width: 1200px){
	.fourth{
		&::before{
			top: -50px;
			border-bottom-width: 50px;
		}
		&::after{
			bottom: -50px;
			border-top-width: 50px;
		}
	}
}

.feedbacks{
	@include flex(center, space-between, wrap);
	gap: 30px;
}
.yandex{
	font-family: 'YS Text', 'Helvetica Neue', Arial, sans-serif;
	color: #000;
	&__ya{
		color: #FC3F1D;
	}
}

.feedback{
	position: relative;
	width: 30%;
	max-width: 660px;
	padding: 15px 30px;
	border-radius: 55px;
	background-color: #fff;
	line-height: 1;
	&__name{
		margin: 0;
		font-weight: bold;
		line-height: 1.5;
	}
	&__date{
		margin: 0;
		color: #a4a6a5;
		line-height: 1.5;
	}
	&__text{
		margin: 0;
	}
	&--left{
		// margin-left: 20%;
	}
	&--center{
		// margin: 0 33%;
	}
	&__rate{
		height: 1rem;
		margin-left: 10px;
	}
	&__map{
		width: 100%;
	    font-family: 'futuradc';
		font-size: 2.5rem;
		color: var(--main-color);
		font-weight: bold;
		line-height: 1.2;

		&-icon{
			display: inline-block;
			height: 40px;
			margin-right: 10px;
			float: left;
		}
	}
	&::after{
		content: "";
		position: absolute;
		top: -1%;
		left: -5%;
		width: 100%;
		height: 102%;
		border-radius: 55px;
		border: 2px solid #fff
	}
}
@media (max-width: 768px){
	.feedback{
		width: 100%;
		&__map{
			order: -1;
			font-size: 1.6rem;
			&-icon{
				height: 1.6rem;
				margin-right: 0;
				float: none;
			}
			br{
			}
		}
		& + &{
			margin-top: 20px;
		}
		&::after{
			left: -2%;
		}

	}
}
@media (min-width: 1024px){
	.feedback{
		&--left{
			margin-left: 20%;
		}
		&--right{
			margin-right: 20%;
		}
		
		&--center{
			margin: 0 33%;
		}
		&__map{
			width: 38%;
		}

	}
}