body{
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	@include con;
	@include flex(center, space-between);
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f8b72f;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	&__left{
		flex-grow: 1;
		max-width: calc(100% - (50% + 80px));
		box-sizing: border-box;
	}
	&__center{
		display: block;
		width: 130px;
		height: 100%;
	}
	&__right{
		@include flex(center, space-between);
		flex-grow: 1;
		max-width: calc(100% - (50% + 80px));
		box-sizing: border-box;
		.main-nav{
			padding-right: 10px;
		}

	}
}
@media(max-width: 1024px){
	.header{
		flex-flow: column;
		&__right{
			max-width: 100%;
		}
	}
}
@media(min-width: 1240px){
	.header{
		&__left{
			padding-right: 10px;
		}
		&__right{
			padding-left: 10px;
			
		}
	}
}
@media(min-width: 1440px){
	.header{
		&__left{
			// padding-right: 70px;
		}
		&__right{
			.main-nav{
				padding-right: 20px;
			}
		}
	}	
}
.main-nav{
	@include flex(center, space-between);
	flex-grow: 1;
	margin: 0;
	padding: 0;
	list-style: none;
	&__item{}
	&__link{
		color: var(--white);
		font-size: 1rem;
		text-decoration: none;
		@include transition;
		border-bottom: 1px solid transparent;
		&:hover{
			border-bottom-color: var(--white);
		}
	}
}
@media(max-width: 1024px){
	.main-nav{
		display: none;
	}
}
@media(min-width: 1240px){
	.main-nav{
		&__item{
			& + &{
				// margin-left: 60px;
			}
		}
		&__link{
			font-size: 1.1rem;
		}
	}
}
@media(min-width: 1440px){
	.main-nav{
		&__link{
			font-size: 1.3rem;
		}
	}
}
.main-soc{
	&__link{
		& + &{
			margin-left: 5px;
		}
		&:hover{
			.main-soc__icon{
				transform: scale(1.1);
			}
		}
	}
	&__icon{
		width: 20px;
		height: 20px;
		@include transition;
	}
}
@media(max-width: 1024px){
	.main-soc{
		width: 100%;
		margin-top: 20px;
		&__icon{
			width: 30px;
			height: 30px;
		}
	}
}
@media(min-width: 1240px){
	.main-soc{
		&__link{
			& + &{
				margin-left: 20px;
			}
		}
		&__icon{
			width: 30px;
			height: 30px;
		}
	}
}