@mixin con{
	padding-top: var(--part-dist);
	padding-bottom: var(--part-dist);
	padding-left: var(--container);
	padding-right: var(--container);
}

@mixin flex($align: center, $justify: space-around, $wrap: nowrap, $direction: row){
	display: flex;
	flex-flow: $direction $wrap;
	align-items: $align;
	justify-content: $justify;
}

@mixin transition{
	transition: 0.3s;
}