.modal{
	@include flex(center, center);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	&--open-contact{
		overflow: hidden;
		.modal{
			display: flex;
		}
		.modal--contact{
			display: block;
		}
	}
	&--open-employ{
		overflow: hidden;
		.modal{
			display: flex;
		}
		.modal--employ{
			display: block;
		}
	}
	&--open-rules{
		overflow: hidden;
		.modal{
			display: flex;
		}
		.modal--rules{
			display: block;
		}
	}
	
	
	&__bg{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0,0,0, 0.5);
	}
	&__content{
		display: none;
		position: relative;
		width: 600px;
		max-width: 80vw;
		max-height: 80vh;
		padding: 20px;
		background-color: var(--white);
		z-index: 5;
		border-radius: 20px;
		font-size: 1.5rem;
		a {
			text-decoration: none;
			color: #f8b72f;
			@include transition;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&--rules{
		overflow-y: scroll;
		p{
			font-weight: bold;
		}
	}
}