.nine{
	position: relative;
	margin-top: calc(var(--part-dist) + 40px);
	padding: 20px 20px 0;
	@include con;
	background-color: var(--light-orange);
	&::before{
		content: "";
	    position: absolute;
	    top: -50px;
	    right: 0;
		border-top: 50px solid transparent;
	    border-right: 98vw solid var(--light-orange);

	}
}
@media (min-width: 768px){
	.nine{
		padding: 0;
	}
}
.variants{
	@include con;
	overflow: hidden;
	&__one{}
}
@media (min-width: 768px){
	.variants{
		padding-right: 50px;
	}
}
@media (min-width: 1024px){
	.variants{
		padding-right: 300px;
	}
}
.variant{
	position: relative;
	@include flex(flex-start, flex-start, nowrap, column);
	padding-left: 20px;
	color: var(--black);
	&::before{
		content: "";
		position: absolute;
		top: 0.7rem;
		left: calc(-100% + 10px);
		// transform: translate(0, -50%);
		width: 100%;
		height: 4px;
		background-color: #fdaa32;
	}
	&__line{
		margin: 0 10px;
		flex-grow: 1;
		border-bottom: 2px dashed grey;
	}
	& + &{
		margin-top: 20px;
	}
	&__text{
		font-size: 1.4rem;
		font-weight: bold;
	}
	&__btn{
		margin: 0;
		margin-top: 10px;
		padding: 5px 20px;
		width: fit-content;
		font-weight: bold;
		font-size: 1.5rem;
	}
}
@media (min-width: 768px){
	.variant{
		@include flex(center, space-between, nowrap, row);
		padding-left: 100px;
		&::before{
			left: calc(-100% + 80px);
		}
		&__line{
			margin: 0 25px;
		}
		& + &{
			margin-top: 50px;
		}
		&__text{
			font-size: 1.7rem;
		}
		&__btn{
			margin-top: 0;
			font-size: 1.8rem;
		}
	}
}
// @mixin flex($align: center, $justify: space-around, $wrap: nowrap, $direction: row){
