.second{
	position: relative;
	@include con;
	background-color: var(--lightblue);
}
.prices{
	@include flex(flex-start, center, nowrap, column)
}
@media (max-width: 1024px){}

@media (min-width: 1024px){
	.prices{
		@include flex(stretch, space-around, nowrap, row)
		&__hours{
			@include flex(flex-start, space-around, nowrap, column);

		}

	}
}
.hours-price{
	@include flex(center, flex-start);
	margin: 0;
	margin-bottom: 20px;
	color: var(--main-color);
	font-size: 1.8rem;
	font-weight: bold;
	&__icon{
		max-width: 70px;
		margin-right: 10px;
	}
	&--marked{
		font-family: 'futuradc';
	}
}
@media (max-width: 1024px){
	.hours-price{
		font-size: 1.8rem;
		&__icon{
			max-width: 40px;
			margin-right: 20px;
		}
	}
}
.price-tarif{
	width: 100%;
	padding: 50px 0px 30px 30px;
	border-radius: 20px 60px 20px 20px;
	box-sizing: border-box;
	color: #fff;
	&__gift{
		width: 50px;
		margin-right: 10px;
	}
	&--first{
		background: linear-gradient(-30deg, #fede79, #f39513);
	}
	&--second{
		background: linear-gradient(-30deg, #fccc89, #ef7e4e);
	}
	&--third{
		background: linear-gradient(-30deg, #f9b34c, #eb662c);
	}
	&--pink{
		background: linear-gradient(-30deg, #f4ada9, #f9d3d0);
	}
	
	&__price{
		position: relative;
		margin: 0;
		font-size: 2rem;
		&::after{
			content: "";
			position: absolute;
			height: 2px;
			width: 50%;
			left: 0;
			background-color: #fff;
		}
	}
	&--marked{
		font-family: 'futuradc';
	}
	&__info{
		position: relative;
		font-size: 1.6rem;
		line-height: 1.5;
		margin: 0;
		& + &{
			margin-top: 70px;
			&::before{
				content: "";
				position: absolute;
				width: 30px;
				height: 30px;
				top: -40px;
				left: 70px;
				background-image: url("../images/plus.png");
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
			}
		}
		&--gift{
			@include flex(flex-end, flex-start);
			font-size: 1.8rem;
			font-weight: bold;
			line-height: 1;
		}
	}
	
}
@media (max-width: 1024px){
	.price-tarif{
		br{
			display: none;
		}
		& + &{
			margin-top: 30px;
		}
		&__price{
			margin-bottom: 20px;
			&::after{
				bottom: -8px;
			}
		}
	}
}

@media (min-width: 1024px){
	.price-tarif{
		max-width: 280px;
		max-width: 20%;
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 10px;
		border-radius: 20px 70px 20px 20px;
		& + &{
			margin-left: 25px;
		}
		&__price{
			margin-bottom: 40px;
			&::after{
				bottom: -18px;
			}
		}
		&__info:not(.price-tarif__info--gift){
			padding-right: 10px;
			font-size: 1.4rem;
		}
	}
}
