.seventh{
	@include con;
}
.open{
	&__process{
		max-width: 340px;
		margin: 0 auto;
		padding: 2px;
		border-radius: 20px;
		border: 2px solid #b6e3e9;
	}
	&__load{
		display: inline-block;
		width: 60%;
		padding: 2px 30px;
		border-radius: 20px;
		background-color: var(--pink);
		color: #fff;
		font-size: 1.3rem;
		font-weight: 300;
		line-height: 1;
		text-align: center;
	}
	&__text{
		margin: 0;
		font-weight: bold;
		font-size: 1.5rem;
		text-align: center;
	}
	&__new{
		@include flex(stretch, center);
		gap: 60px;	
		margin-top: var(--part-dist);
	}
	&__new-rules{
		margin-top: var(--part-dist);
		text-align: center;
		font-size: 1.2rem;
		font-weight: bold;
	}
}
@media (max-width: 768px){
	.open__new{
		flex-flow: column;
		gap: 30px;
	}
}
.open-new{
	@include flex(flex-start, space-between, nowrap, column);
	width: 100%;
	max-width: unset;
	&__city{
		position: relative;
		margin: 0;
		margin-bottom: 25px;
		padding-bottom: 25px;
		font-weight: bold;
		font-size: 1.2rem;
		&::after{
			content: "";
			position: absolute;
			left: 0;
			bottom: 1px;
			width: 60px;
			height: 2px;
			background-color: #fff;
		}
	}
	&__name{
		margin: 0;
		margin-bottom: 1rem;
    	font-family: 'futuradc';
		font-size: 2rem;
		font-weight: bold;
	}
	&__address{
		margin: 0;
		margin-bottom: auto;
		font-size: 1.3rem;
	}
	&__when{
		margin: 0;
		margin-top: 3rem;
		font-size: 1.3rem;
		font-weight: bold;
	}
}

@media (min-width: 768px){
	.open-new{
		width: 280px;
	}

}