.sixth{
	margin-top: var(--part-dist);
	@include con;
	background-color: #ffe1df;
}
.bday{
	@include flex(center, center);
	&__photos,
	&__info{
		width: 50%;
	}
	&__info{
		width: 50%;
	}
	&__text{
		margin-top: 1.8rem;
		margin-bottom: 0;
		text-align: right;
		font-size: 1.8rem;
	}
	&__preview{
		width: 100%;
	}
}
@media (max-width: 768px){
	.bday{
		flex-flow: column;
		&__text{
			font-size: 1.2rem;
		}
		&__photos,
		&__info{
			width: 100%;
		}
		&__info{
			order: -1;
			margin-bottom: 20px;
		}
	}
}