.third{
	position: relative;
	margin-top: var(--part-dist);
	margin-bottom: var(--part-dist);
	@include con;
	background-image: url("../images/second-bg.png");
	background-size: contain;
	background-position: center top;
	background-repeat: no-repeat;
}
@media (max-width: 1024px){
	.third{
		background-size: auto 100%;
	}
}
.rooms-list{}

.room{
	max-width: 1100px;
	margin: 0 auto;
	@include flex(center, flex-start);
	&__preview{
		position: relative;
		z-index: 5;
		width: 50%;
		max-width: 460px;
		max-height: 280px;
		object-fit: cover;
	}
	&__content{
		width: 50%;
		margin: 10px 0;
		border: 10px solid transparent;
		box-sizing: border-box;
		border-color: #fede7b;

		
	}
	&__info{
		position: relative;
		&-icon{
			position: absolute;
			top: 50%;
			left: -35px;
			transform: translate(0, -50%);
			width: 25px;
			height: 25px;
			object-fit: contain;


		}
	}
	&__city,
	&__name,
	&__info{
		margin: 0;
		margin-bottom: 0.5rem;
		font-size: 1.5rem;
		line-height: 1.1;
	}
	&__name{
		text-transform: uppercase;
		position: relative;
	    font-family: 'futuradc';
		&::before{
			content: "";
			position: absolute;
			top: 50%;
			left: -70px;
			transform: translate(0, -50%);
			z-index: 1;
			width: 60px;
			height: 5px;
			background-color: #fede7b;
		}
		
		
	}
	& + &{
		margin-top: 25px;
	}
}
@media (max-width: 1024px){
	.room{
		flex-flow: column;
		&__preview{
			width: 100%;
			max-width: none;
			border-top: none;
		}
		&__content{
			width: 90%;
			margin: 0 auto;
			border-top: none;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 50px;
			padding-right: 0px;
		}
		&__name{
			&::before{
				width: 40px;
				left: -50px;
			}
		}
	}
}
@media (min-width: 1024px){
	.room{
		&__content{
			padding-left: 70px;
			padding-top: 30px;
			padding-bottom: 30px;
			border-left: none;
		}

	}
}
