.title{
	margin-top: 0;
	margin-bottom: 1.5rem;
    font-family: 'leosler';
    font-weight: normal;
    font-style: normal;
	color: #fff;
	font-size: 4.3rem;
	&--brush{
		font-family: 'BrushType';
		font-size: 4.5rem;
	}
	&--raleway{
		font-family: 'Raleway';
		font-size: 3rem;
	}
	&--plusm{
		font-family: 'Rounded Mplus 1c';
		font-size: 3rem;
	}
	&--jost{
		font-family: 'Jost';
		    font-size: 3.1rem;
	}
	&--dela{
		font-family: 'Dela Gothic One';
		font-size: 2.5rem;
	}
}
@media (max-width: 768px){
	.title{
		font-size: 3.5rem;
	}
}
.subtitle{
    font-family: 'futuradc';
	margin: 0;
	margin-bottom: var(--part-dist);
	color: var(--main-color);
	font-size: 3.5rem;
	&--unpack{
		margin: 0;
		font-size: 2rem;
		line-height: 0.9;
	}
	&--bday{
		margin: 0;
		text-align: right;
		font-size: 3.2rem;
	}
	&--footer{
		margin-bottom: 1rem;
		font-size: 1.4rem;
		text-align: center;
	}
	&--first{
		margin-top: var(--part-dist);
		margin-bottom: calc(var(--part-dist) / 2);
		text-align: center;
		color: #fff;
	}
}
@media (max-width: 768px){
	.subtitle{
		font-size: 2.5rem;
		&--unpack{
			position: relative;
			margin-bottom: 30px;
		}
		&--open{
			text-align: center;
		}
	}
}
@media (max-width: 768px){
	.subtitle{
		&--footer{
			font-size: 1.2rem;
		}

	}
}
@media (min-width: 1024px){
	.subtitle{
		&--unpack{
			position: absolute;
			top: 0px;
			left: var(--container);
			z-index: 5;
			font-size: 3rem;
		}
		&--nine{
			margin: 0;
			font-size: 4rem;
		}
	}
}
@media (min-width: 768px){
	.subtitle{
		&--nine{
			@include con;
		}
	}
}
@media (min-width: 1240px){
	.subtitle{
		&--unpack{
			font-size: 7.8rem;
		}
		&--loyal{
			font-size: 6.6rem;
			line-height: 5rem;
		}
		&--nine{
			padding-top: 0;
			padding-bottom: 0;
			font-size: 5rem;
		}
	}
}

.btn-con{
	margin-top: var(--part-dist);

}

.btn{
	display: block;
	width: 100%;
	max-width: 310px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0;
	border-radius: 40px;
	text-align: center;
	text-decoration: none;
	border: none;
	background-image: linear-gradient(-45deg, #ea537c 15%, #f49b0f 70%, #ea537c 100%);
    background-size: 200% 100%;
    background-position: center left;
	color: #fff;
	font-size: 1.5rem;
	font-weight: bold;
	cursor: pointer;
	@include transition;
	&:hover{
	    background-position: center right;
		transform: scale(1.05);

	}
	&--room{
		margin-top: var(--part-dist);
	}
	&--unpack{
		margin-top: 40px;
	}
	&--bday{
		margin-top: calc(2 * var(--part-dist));
	}
	&--new{
		display: inline-block;
		margin: 0;
	}
}
@media (max-width: 768px){
	.btn{
		&--new{
			margin-top: 20px;
		}
	}
}
@media (min-width: 768px){
	.btn{
		&--new{
			margin-left: 20px;
		}
	}	
}
