:root{
	--con-size: 100%;
	--container: 20px;
	--part-dist: 30px;

	--main-color: #5e5870;
	--white: #fefff9;
	--light-blue: #fefff9;
	--light-orange: #fffaee;
	--orange: #ffedd5;
	--pink: #fdafab;
	--black: #434242;
}
@media (min-width: 768px){
	:root{
		--con-size: 760px;
		--container: calc((100% - var(--con-size)) / 2);
		--part-dist: 30px;
	}
}
@media (min-width: 1024px){
	:root{
		--con-size: 900px;
	}
}
@media (min-width: 1240px){
	:root{
		--con-size: 1050px;
		--part-dist: 40px;
	}
}
@media (min-width: 1440px){
	:root{
		--con-size: 1250px;
		--part-dist: 60px;

	}
}
@media (min-width: 1820px){
	:root{
		--con-size: 1600px;
	}
}