@import 'normalize';
@import 'fonts';
@import 'vars';
@import 'mixin';
@import 'typograpy';
@import 'header';
@import 'first';
@import 'second';
@import 'third';
@import 'fourth';
@import 'fivth';
@import 'sixth';
@import 'seventh';
@import 'eight';
@import 'nineth';
@import 'footer';
@import 'modal';


body{
	background-color: var(--white);
	font-family: 'futurabc', sans-serif;
	* {
		outline-offset: 10px;
		outline-width: 2px;
		outline-color: var(--pink);
	}
}

.wrapper{
	// overflow-y: hidden;
}


@media (min-width: 1440px){}
@media (min-width: 1820px){}

@media (min-width: 768px){}
@media (min-width: 1024px){}
@media (min-width: 1240px){}
@media (min-width: 1440px){}
@media (min-width: 1820px){}
